{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dougink | Home</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "css/blog.css" %}">
	<link rel="stylesheet" href="{{ MEDIA_URL }}fonts/dougink/stylesheet.css" type="text/css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}fonts/amatic/stylesheet.css" type="text/css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}fonts/dougink-icons/styles.css" type="text/css">
</head>
<body>


<header class="page-header">
	<a href="{% url "post_list" %}" class="img-responsive">
		<h1>Dougink</h1>
	</a>
	<h2>The pen and ink art of Douglas Haghan</h2>
</header>


{% block content %}
{% endblock %}

<footer>
	<div class="container">
		<div class="col-md-2 col-sm-2 col-xs-12">
			<span class="copyright">DougInk &copy;{{ year }}</span>
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12">
			{% if user.is_authenticated %}
				<a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<a href="{% url "post_draft_list" %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
				<p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url "django.contrib.auth.views.logout" %}">Log out</a>)</small></p>
			{% else %}
				<a href="{% url "django.contrib.auth.views.login" %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}
		</div>
	</div>
</footer>

		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');   
		});		
	});
</script>

</body>
</html>

