<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello World!</title>
</head>
<body>

	<div class="page-wrapper">

		<div class="container-fluid">
			<header></header>
		</div>
		<div class="container">
			<h1>Welcome!</h1>
			<div class="row">
				{% for post in posts %}
					<div class="col-md-4 col-sm-4">
						<h1><a href="">{{ post.title }}</a></h1>
						<p>published: {{ post.published_date }}</p>
						<p>{{ post.text|linebreaks }}</p>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>

	</div>

</body>
</html>

