{% extends "blog/base.html" %}

{% block content %}
        
        <div class="container">
            <section class="post">
                <h2>{{ post.title }}</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p><img class="pop" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}"></p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>{{ post.text|linebreaks }}</p>
                    </div>
                </div>
                {# <p>published: {{ post.published_date }}</p> #}
                <div class="row">
                    {% if post.published_date %}
                        <div class="col-xs-6">
                            <p>{{ post.published_date }}</p>
                        </div>
                    {% else %}
                        <div class="col-xs-6">
                            <a class="btn btn-default" href="{% url "blog.views.post_publish" pk=post.pk %}">Publish</a>
                        </div>
                    {% endif %}
                    <div class="col-xs-6">
                        <a class="btn btn-default" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url "post_remove" pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </section>
            <hr>
            <section class="comments">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <h2>Comments: </h2>
                    </div>
                    <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 post-comment">
                        <a class="btn btn-default" href="{% url "add_comment_to_post" pk=post.pk %}">Add comment</a>
                    </div>
                </div>

                {% for comment in post.comments.all %}
                <div class="row">
                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="comment">
                                {% if not comment.approved_comment %}
                                    <a class="btn btn-default" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                    <a class="btn btn-default" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                {% endif %}
                                <h4>{{ comment.author }}</h4>
                                <p>{{ comment.text }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="date">
                                <p>{{ comment.created_date|date:"M/d/Y" }}</p>
                            </div>
                        </div>
                            {# <a href="{% url "blog.views.post_detail" pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a> #}
                       {#  </div> #}
                    {% endif %}
                </div>
                    {% empty %}
                        <p>No comments here yet :(</p>
                    {% endfor %}
            </section>
        </div>
                
            <!-- Modal -->
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" data-dismiss="modal">
                <div class="modal-content"  >              
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;" >
                  </div> 
                  <div class="modal-footer">
                      <div class="col-xs-12">
                           <p class="text-left">1. line of description<br>2. line of description <br>3. line of description</p>
                      </div>
                  </div> 
                </div>
              </div>
            </div>
    
{% endblock %}