{% extends 'blog/base.html' %}

{% block content %}

<div class="login">

	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form method="post" action="{% url "django.contrib.auth.views.login" %}">
		{% csrf_token %}
		<div class="row login-form">
			<div class="col-md-12">
			    {{ form.username.label_tag }}
			    {{ form.username }}
			</div>
			<div class="col-md-12">
			    {{ form.password.label_tag }}
			    {{ form.password }}
			</div>
			{# <input type="submit" class="icon-squirrel" value="login"/> #}
			<button type='submit' id="login"><span class="icon-squirrel"></span><p>Click me to login</p></button>

			<input type="hidden" name="next" value="{{ next }}" />
		</div>

	</form>

</div>

{% endblock %}